/* Theme */

main {
	background: #303F9F;
	color: lightgreen;
}

.icons-social a {
	color: lightgreen;
}
.icons-social a :hover {
	color: seashell;
	-webkit-animation:fa-spin 4s linear infinite;
 animation:fa-spin 4s linear infinite
}

.icons-social a svg path{
	fill: lightgreen;
}
